body{
	margin: 0;
}
@font-face{
	src: url(123456.ttf);
	font-family: LOTR;
}
.h1{
	
}
.font{
	font-family: LOTR;
	text-align: center;
	font-size: 24px;
	color: white;
}
.skeleton{
	height: 1200px;
	background-image: url(big.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	display: grid;
  	
}

.p{
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin: 100px;
	
}
.box{
	height: 900px;
	width: 500px;
	background:;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
